[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
google-api-python-client = "*"
"oauth2client" = "*"
requests = "*"
"bs4" = "*"
pyjsparser = "*"
pytz = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.5"
